.images {
    width: 120px;
    height: auto;
}
 tr {
    background-color: lightblue;
}
tbody tr:nth-child(even) { 
    background-color: #8ff1ac62;
 }
tbody tr:nth-child(odd) { 
    background-color: #1e97e746;
 }
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
.navigation a:hover {
    color: #8ff1ac;
}
.navigation {
    padding: 14px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}
.reflection  {
    border: 1px solid black;
    font-size: 18px;
    padding: 14px;
    max-width: 100%;
    background-color: beige;
}
dt {
    font-weight: bold;
    margin-top: 10px;
}
dd {
    margin-left: 12px;
    margin-bottom: 20px;
}
footer {
    border: 1px solid black;
    padding: 18px;
    max-width: 100%;
    background-color: rgba(0, 255, 255, 0.274);
}
form {
    border: 1px solid black;
    padding: 18px;
    max-width: 100%;
    background-color: rgba(0, 255, 85, 0.13);
}
.intro {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
section {
    border: 1px solid black;
    padding: 18px;
    max-width: 100%;
    background-color: rgba(255, 0, 255, 0.13);
}