
body {
  background-image: url("background.JPG"); 
  font-family: sans-serif;
  margin: 0;
  padding: 20px; 
}

header, nav, main, footer {
  background-color: white;
  width: 80%;     
  text-align: center;  
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box; 
}
nav {
  background-color: rgb(70, 5, 5); 
}
nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block; 
}
nav a:hover {
  color: #e71e1e;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
tbody tr:nth-child(even) { 
  background-color: rgba(143, 202, 241, 0.671); 
}
tbody tr:nth-child(odd) { 
  background-color: rgba(231, 30, 40, 0.212);
}
@media screen {
  header, nav, main, footer {
    width: 95%; 
    padding: 10px;
  }
}
@media screen {
  nav a {
    display: block; 
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
img{
  max-width: 100%;
  height: auto;
}