body {
  background-image: url("keyboard.jpg");
  font-family: sans-serif;
  margin: 0px;
}

header {
  background-color: white;
  width: 80%;    
  text-align: center;  
  margin: auto; 
  padding: 20px;
  border: 1px solid black;

}

nav {
  background-color: rgba(0, 0, 255, 0.527);
  width: 80%; 
  text-align: center;
  margin: auto; 
  padding: 20px;
  border: 1px solid black;
}
nav a:hover {
    color: #e71e1e;
    text-decoration: underline;
}
nav a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

main {
  background-color: white;
  width: 80%;      
  margin: auto; 
  padding: 20px;
  border: 1px solid black;
}

footer {
 background-color: white;
  width: 80%;      
  margin: auto; 
  padding: 20px;
  border: 1px solid black;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(even) { 
    background-color: #8ff1ac88; 
}

tbody tr:nth-child(odd) { 
    background-color: #1e97e77e;
}