body {
    font-family: serif; 
    line-height: 1.4;
    color: black;
    background-color: rgba(202, 210, 231, 0.61);
    padding: 20px;
}
h1, h2, h3 {
    color: navy;
}
p {
    margin-bottom: 16px;
    line-height: 1.4;
}
a {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
#main-header {
    text-align: center;
    border-bottom: 2px solid #92737373;
    padding-bottom: 12px;
}
.date-line {
    font-style: bold;
    margin-bottom: 14px;
    color: #555555;
    box-sizing: content-box;
}
